
            html, body {
                height: 100%;
                }
                body {
                display: flex;
                flex-direction: column;
                }
                body { 
                overflow-x:hidden;
                }
                .content {
                flex: 1 0 auto;
                }
                .footer {
                flex-shrink: 0;
                }
    
                .ft{
                padding-left:22px;
                padding-right:31px;
                }
    
                footer span.copyright {
                font-size: 90%;
                line-height: 40px;
                text-transform: none;
                font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color:blak;
                }
    
                footer ul.quicklinks {
                font-size: 90%;
                line-height: 40px;
                margin-bottom: 0;
                text-transform: none;
                font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                }
    
                ul.social-buttons {
                margin-bottom: 0;
                }
    
                ul.social-buttons li a {
                font-size: 20px;
                line-height: 40px;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                color: white;
                border-radius: 100%;
                outline: none;
                background-color: #212529;
                }
    
                ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
                background-color: #fed136;
                }
                .content{
                margin-top:60px;
                }
    
    
                /* Profile container */
                .profile {
                margin: 20px 0;
                }
    
                /* Profile sidebar */
                .profile-sidebar {
                padding: 10px 0 0 0;
                max-width: 300px;
                height: 300px;
                background: linear-gradient(to right bottom,rgba(0, 3, 5, 0.5),rgba(0, 52, 119, 0.5));
                }
    
                .profile-userpic img {
                float: none;
                display:block;
                    margin:auto;
                width: 60%;
                height: 170px;
                -webkit-border-radius: 50% !important;
                -moz-border-radius: 50% !important;
                border-radius: 50% !important;
                }
    
                .profile-usertitle {
                text-align: center;
                margin-top: 20px;
                }
    
                .profile-usertitle-name {
                color: #5a7391;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 7px;
                }
    
                .profile-usertitle-job {
                text-transform: uppercase;
                color: #5b9bd1;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 15px;
                }

                .profile-usertitle-login{
                    text-transform: uppercase;
                    color: #5b9bd1;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                .profile-usertitle-email{
                    text-transform: uppercase;
                    color: #5b9bd1;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
    
                .profile-userbuttons {
                text-align: center;
                margin-top: 10px;
                }
    
                .profile-userbuttons .btn {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
                padding: 6px 15px;
                margin-right: 5px;
                }
    
                .profile-userbuttons .btn:last-child {
                margin-right: 0px;
                }
                    
                .profile-usermenu {
                margin-top: 30px;
                }
    
                /* Profile Content */
                .profile-content {
                padding: 20px;
                background: linear-gradient(rgba(0, 1, 63, 0.5),rgba(0, 95, 173, 0.5));;
                min-height: 460px;
                }

                .profile-usertitle-h1{
                    text-transform: uppercase;
                    color: #58b4ff;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                             

                .profile-usertitle-h{
                    text-transform: uppercase;
                    color: #2083d4;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                p{
                    color: #5a7391;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }
